/*Lista de estilos generales*/
body{
    font-family: 'Roboto Mono', monospace;
}
article{
    width: 70%;
}
aside{
    width: 30%;
}
article,aside, footer{
    float: left;
    margin-top: 0.625rem;
    border: 1px solid;
}
footer{
    width: 100%;
    height: 4rem;
    background-color: mistyrose;
}
h1{
    font-size: 2.2em;
    font-family: 'Nunito', sans-serif;
}
h2{
    font-size: 2rem;
}
h1, h2{
    font-weight: bold;
    color: royalblue;
    margin-bottom: 10px;
}
header{
    height: 450px;
    background-color:whitesmoke;
    padding: 10px;
    background-image: url("../img/fondo-header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 35%;
}
nav{
    height: 35px;
    padding: 5px;
    background-color: slategrey;
}
nav ul li{
    float: left;
}
nav ul li a{
    color:snow;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    display: block;
}
nav ul li a:hover{
    color: slategrey;
    background-color: snow;
}
p{
    text-align: left;
}
/* section{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
} */

/* estilos id */
#parrafo2{
    text-align: justify;
}
.alert-danger{
    background-color: rgb(249, 205, 205);
    color: crimson;
}
.alert-success{
    background-color: greenyellow;
    color: green;
}
.alert-danger, .alert-success{
    width: auto;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
    margin-bottom: 0.4em;
    padding-left: 0.2em;
}
.btn{
    padding: 5px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    width: auto;
    color: aliceblue;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
}
.btn-primary{
    background-color: blue;
}
.btn-primary:hover{
    background-color: rgb(67, 67, 240);
}
.btn-success{
    background-color: rgb(39, 232, 13);
}
.btn-success:hover{
    background-color: rgb(92, 245, 97);
}
.btn-outline-primary{
    background-color: transparent;
    color: blue;
    border: blue 1px solid;
}
.btn-outline-primary:hover{
    background-color: rgb(67, 67, 240);
    color: aliceblue;
}
/* estilos clases */
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 0.5em;
    padding: 1em;
}
.col-footer{
    display: inline-block;
    width: 20%;
}
.col-footer-max{
    width: 59%;
}
.error{
    color: red;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
}
.footer{
    margin: 0.625rem;
}
.form{
    width: 60%;
    display: inline-block;
}
.form label{
    margin-bottom: 5px;
    display: block;
}
.form-control{
    width: 100%;
    height: 20px;
    border: 1px solid grey;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
}
.form-group{
    margin-bottom: 5px;
}

.table{
    width: 100%;
    display: inline-block;
    border: 1px solid cornflowerblue;
}
.table th{

    font-weight: bold;
}
.table th, td{
    padding: 0.9em;
    margin: 2px;
    width: auto;
}
.texto1{
    color:maroon;
}
.text-danger{
    color: red;
}
.text-error{
    color:blue;
    font-weight: bolder;
    font-size: 24px;
    margin-left: 10px;
}
.text-footer{
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}
.text-info{
    color:darkcyan;
    display: block;
    margin: 3px;
}
